{% extends "base.html.twig" %}


{% block body %}

    <br><br><br><br>
    <div class="row center">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
            <div id="desc" class="container">
                <h3 class="header light" id="titre">Bienvenue sur l'ENT ! </h3>
                <br>
                <div>
                    Un espace numérique de travail (ENT) désigne un ensemble intégré de services numériques choisis et
                    mis à disposition de tous les acteurs de la communauté éducative d'une ou plusieurs écoles ou d'un
                    ou plusieurs établissements scolaires dans un cadre de confiance défini par un schéma directeur des
                    ENT et par ses annexes.

                    Il constitue un point d'entrée unifié permettant à l'utilisateur d'accéder, selon son profil et son
                    niveau d'habilitation, à ses services et contenus numériques. Il offre un lieu d'échange et de
                    collaboration entre ses usagers, et avec d'autres communautés en relation avec l'école ou
                    l'établissement.
                </div>
                <br><br><br>
                <a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light btn light">Nous
                    rejoindre</a>
            </div>
        </div>
        <div class="col s12 m4 l2"></div>
    </div>
    <br><br><br><br><br><br><br>
{% endblock %}