{% extends "base.html.twig" %}


{% block body %}

    <br><br><br><br>
    <div class="row center">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
            <div id="desc" class="container">
                <h3 class="header light" id="titre">Bienvenue sur BlueWings ! </h3>
                <br>
                <div class="">Nous sommmes fiers de vous présenter le premier site exclusivement destiné à la
                    location
                    de
                    wingsuits entre particuliers.
                    Pour un service de qualité et une attention spéciale sur la sécurité, BlueWings a pour objectif
                    de
                    vous permettre
                    de vous faire plaisir sans vous ruiner. Le principe est simple. A partir de votre compte membre,
                    publiez une annonce sur le site de votre combinaison
                    de wingsuit, en spécifiant notamment la taille, et le niveau auquel il correspond. Lorsque votre
                    produit
                    aura trouvé un interessé, ce dernier n'aura qu'à se déplacer dans le club où vous aurez déposé
                    le
                    produit
                    pour l'utiliser le temps d'une session de sauts et le remettre ensuite au club.
                </div>
                <br><br><br>
                <a href="{{ path('fos_user_registration_register') }}" class=" waves-effect waves-light btn light">Nous
                    rejoindre</a>
            </div>
        </div>
        <div class="col s12 m4 l2"></div>
    </div>
    <br><br><br><br><br>
{% endblock %}