{% extends "@FOSUser/layout.html.twig" %}

{% block header %}
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s2">
                    <a id="logo" href="#" class="valign-wrapper">
                        <img src="{{ asset('logo.png') }}" alt="" class="responsive-img container">
                    </a>
                </div>
                <div class="row">
                    <div class="input-field col offset-s4">

                        <input id="email" type="email" class="validate" placeholder="email">

                        {% block fos_user_content_login %}{% endblock %}
                    </div>
                    <div class="input-field col s2">

                        <input id="password" type="password" class="validate" placeholder="mot de passe">

                    </div>
                    <a class="waves-effect waves-light btn light ">Connexion</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}