{% extends "base.html.twig" %}

{% block body %}
    <br><br><br><br>
    <div class="section no-pad-bot container">
        <div class="row center">
            <div class="row">
                <div class="fonctionnalité">
                    <div class="col s12 m12 l6 xl6 ">
                        <div class="card horizontal">
                            <i class="large material-icons">account_circle</i>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>Consulter votre dossier étudiant (notes, adresse...)</p>
                                </div>
                                <div class="card-action">
                                    <a href="{{ path('annuaire_fiche') }}">Dossier Etudiant</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fonctionnalité">
                    <div class="col s12 m12 l6 xl6 ">
                        <div class="card horizontal">
                            <i class="large material-icons">school</i>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>Rechercher des professeurs et des étudiants de l'université</p>
                                </div>
                                <div class="card-action">
                                    <a href="{{ path('annuaire_recherche') }}">Annuaire</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br><br>
        <div class="row center">
            <div class="row">
                <div class="fonctionnalité">
                    <div class="col s12 m12 l6 xl6 ">
                        <div class="card horizontal">
                            <i class="large material-icons">bookmark</i>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>S'inscrire et choisir ses options et ses sports dans son cursus</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">Réservation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fonctionnalité">
                    <div class="col s12 m12 l6 xl6 ">
                        <div class="card horizontal">
                            <i class="large material-icons">forum</i>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p>Poser ou trouver des réponses à vos questions</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">FAQ ou Forum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br><br><br>
{% endblock %}