{% extends 'base.html.twig' %}

{% block body %}
    <nav class="nav-extended">
        <div class="nav-content">
            <ul class="tabs tabs-transparent light-blue lighten-1">
                <li class="tab"><a href="#test1">Données utilisateur</a></li>
                <li class="tab"><a href="#test2">Dossier étudiant</a></li>
                <li class="tab"><a href="#test4">Cours</a></li>
            </ul>
        </div>
    </nav>
    <br><br>
    <table class="striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Item Name</th>
            <th>Item Price</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
