{% extends 'base.html.twig' %}

{% block body %}
    <br><br>
    <div class="row center">
        <div class="col s12 m4 l2"></div>
        <div class="col s12 m4 l8">
            <div id="desc" class="container">
                <h5 class="light">Creation cours</h5>
                <br>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <br>
                <div class=" waves-effect waves-light btn light">
                    <input type="submit" value="Créer"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col s12 m4 l2"></div>
    </div>
    <ul class="center">
        <li>
            <a href="{{ path('cours_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
